@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

$body-banckground-color: #066acd;
$app-background-color: #ffffff;

%container-width {
  width: 100%;
}

%common-border-radius {
  border-radius: 5px;
}

@mixin flex-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin width-alignment {
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: $body-banckground-color;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}

#root {
  height: 100%;
  @extend %container-width;
  padding: 10rem 0;
  .App {
    width: min(95vw, 500px);
    @include width-alignment();
    border-radius: 1rem;
    @include flex-alignment();
    background-color: $app-background-color;
    & main {
      @extend %container-width;
      padding: 1rem 0;
    }
  }
}

.list-icon-container {
  @extend %container-width;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 0px 0 20px 22px;
  & span {
    font-size: 22px;
    font-weight: 700;
    align-self: flex-end;
  }

  & .list-icon {
    height: 40px;
    width: 40px;
    & > img {
      @extend %container-width;
      height: 100%;
      object-fit: cover;
    }
  }
}

.form-container {
  @extend %container-width;
  & form {
    @include width-alignment();
    width: 85%;
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
    & div {
      @extend %container-width;
    }
  }

  & p {
    width: 50%;
    margin: 1rem auto 0;
    text-align: justify;
    @extend %common-border-radius;
    border: 1px solid #ff9494;
    cursor: pointer;
    background-color: #ff9494;
    color: $app-background-color;
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.task-input {
  @extend %container-width;
  height: 45px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  @extend %common-border-radius;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  &:focus {
    outline: none;
    border-color: #0d75ec;
  }
}

button {
  font-weight: 500;
  font-size: 16px;
  background-color: #0d75ec;
  border: none;
  color: $app-background-color;
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  height: 45px;
  @extend %common-border-radius;
}

.list-container {
  width: 85%;
  @include width-alignment();
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasks-container {
  position: relative;
  @extend %container-width;
  @extend %common-border-radius;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .checkbox {
    position: absolute;
    left: 5px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    & > img {
      @extend %container-width;
      height: 100%;
      object-fit: cover;
    }
  }
  & .details {
    width: 82%;
    margin-left: 35px;
    margin-right: 10px;
  }
}

.details span {
  @extend %container-width;
  word-break: break-all;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  background-color: #0a2ea4;
  color: $app-background-color;
  border: none;
  cursor: pointer;
  outline: none;
  @extend %common-border-radius;
  padding: 0.5rem;
}
